@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css");

body {
    font-size: 15pt;
}
.con{
  background: #fff;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
}
.logo{
  width: 40%;
  margin-bottom: 10px;
}
#abc{
  border-radius: 19px;
  background: linear-gradient(145deg, #d1d8e1, #f8ffff);
  box-shadow: 13px 13px 29px #aeb4bc,
  -13px -13px 29px #ffffff;
  height: 190px;
  display: flex;
  flex-flow: column;
  justify-content: center;
  justify-items: center;
  width: 90%;
  padding: 10px;
}
button{
  width: 50%;
  align-self: center;
}
input{
  background: #DEDEDE17;
 
}
#b{
  font-weight: bold;
}
#modal{
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  z-index: 1;
  justify-content: center;
  align-items: center;
background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */

  
}
#modal img{
  background: #fff;
}
input{
  z-index: initial;
}